Source: isomaster
Section: otherosfs
Priority: optional
Maintainer: David Johnson <dj@david-web.co.uk>
Homepage: http://www.littlesvr.ca/isomaster/
Build-Depends: debhelper (>= 5), libgtk2.0-dev, gettext
Standards-Version: 3.8.0

Package: isomaster
Architecture: any
Depends: ${shlibs:Depends}
Suggests: mousepad
Description: A graphical CD image editor
 You can use isomaster to:
  - add files to an image
  - extract files from an image
  - delete files from an image
